/*Common variables used in the pages*/
/* Colors */
$grey: #a4a4a4;
$blue: #496bfe;
$blue-2: #5869ed;
$white: #ffffff;
$wheatish: #e8e8e8;
$black-2: #232323;
$black-3: #333333;

/* Font colors */
$border-color: $grey;
$border-color-white: $white;
$primary-text-color: $white;
$primary-text-color-wheat: $wheatish;
$btn-bg-color: $blue;
$btn-bg-color-2: $blue-2;
$container-bg: $black-2;
$container-black-bg-2: $black-3;
