.spain-section .part1 {
  min-height: calc(100vh - 63px);
  background: url("../images/section-3-bg.png") center center no-repeat fixed;
}
.spain-section .part2 {
  min-height: calc(100vh - 63px);
  background: url("../images/section-3-bg2.png") center center no-repeat fixed;
}